﻿@model Consoltica.Models.CountryCityViewModel

@{
    ViewBag.Title = "DisplayDetails";
}

<h2>DisplayDetails</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
                <div class="col-md-4">
                    @Html.Label("Country")
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Counrty.Id, (SelectList)ViewBag.country, new { @id = "countryId" })
                    @Html.ValidationMessageFor(model => model.Counrty.Id, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Country")
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.City.Id, (SelectList)ViewBag.city, new { @id = "cityId" })
                @Html.ValidationMessageFor(model => model.City.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    window.onload = function () {
        debugger;
        var countryId = $('#countryId').val();
        LoadCities(countryId);        
    }
    function LoadCities(countryId) {
        debugger;
        $(cityId).empty();
        $.ajax({
            url: '@Url.Action("LoadCities", "Countries")',
            type: 'POST',
            data: JSON.stringify({ countryId: countryId }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                //$.each(data, function (val, Cities) {
                //    $('#citiyId').val(data.Cities);
                //});
                $.each(data, function (val, LoadCitiesName) {
                    $('select#cityId').append('<option value="' + LoadCitiesName.Id + '">' + LoadCitiesName.CityName + '</option>');
                });
            }
        });
    }
    document.getElementById('countryId').onchange = function () {
        var countryId = $('#countryId').val();
        LoadCities(countryId);
    };
</script>
